/* footer */

footer {
    background-color: rgb(248, 248, 248);
    padding: 3rem 0;
  }
  
  footer .footer-logo {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #ced2db;
    padding-bottom: 3rem;
  }
  
  footer .botao {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 0.8rem;
    background: var(--cor-blue-1);
  }
  .footer-filiais h3 {
    margin-bottom: 15px;
  }
  .footer-filiais li {
    margin-bottom: 10px;
  }
  
  .footer-logo a {
    align-items: center;
  }
  
  .footer-rights {
    padding-top: 1rem;
    border-top: 1px solid #ced2db;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    gap: 1rem;
  }
  
  .redes-sociais a {
    width: 6rem;
    height: 6rem;
  }
  .icons-redes {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
  }
  .icons-redes img {
    width: 4rem;
  }
  
  footer .info2 {
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-link {
    gap: 15px;
  }
  
  footer .footer-link a {
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 0px 0px;
  }
  
  .footer-link a::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 4px;
    height: 2px;
    width: 0%;
    background-color: var(--cor-3);
    transition: 0.3s;
  }
  .footer-link a:hover::after,
  .footer-link a.ativo::after {
    width: 100%;
  }
  
  footer a img {
    width: 4rem;
    opacity: 0.8;
  }
  
  .footer-link {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-filiais a:hover {
    color: black;

  }
  
  
  @media (max-width: 768px) {
    footer {
      padding: 2rem 0;
    }
  
    footer .footer-logo {
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 2rem;
    }
  
    footer a {
      width: 60%;
      height: 6rem;
    }
  
    .footer-rights {
      margin-top: 2rem;
  
      gap: 0.5rem;
    }
  
    .redes-sociais a {
      padding: 2rem;
    }

    .redes-sociais a img {
      padding: 1px;
    }
    footer .info2 {
      gap: 3rem;
    }
    footer a img {
      width: 3rem;
    }
  }
  @media (max-width: 800px) {
    footer .info2 {
      justify-content: center;
    }
    .footer-filiais ul li {
      text-align: center;
    }
    .redes-sociais {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .footer-filiais {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .footer-filiais ul li {
      text-align: center;
    }
  
    .footer-logo h5{
      text-align: center;
    }
  }