.benefits-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cor-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-container {
  display: flex;
  gap: 3.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.benefits-section h2 {
  margin-bottom: 9.4rem;
}

.benefit-card {
  background-color: white;
  padding: 9rem 10rem;
  border-radius: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  max-height: 750px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.benefit-card .lista-vantagens {
  gap: 1px;
}

.benefit-card .lista-vantagens li {
  margin-bottom: 1px;
  align-items: center;
  min-width: 600px;
  margin-left: 40px;
}

.benefit-card .lista-vantagens img {
  width: 30px;
  height: 30px;
}

.benefit-card p {
  text-align: center;
  max-width: 400px;
}

.benefit-card.investor {
  background-color: #f5f5f5;
  box-shadow: 0px 70px 19px 0px rgba(0, 0, 0, 0),
    0px 45px 18px 0px rgba(0, 0, 0, 0.01), 0px 25px 15px 0px rgba(0, 0, 0, 0.05),
    0px 11px 11px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.09);
}

.benefit-card.client {
  background-color: var(--cor-blue-6);
  box-shadow: 0px 70px 19px 0px rgba(0, 0, 0, 0),
    0px 45px 18px 0px rgba(0, 0, 0, 0.01), 0px 25px 15px 0px rgba(0, 0, 0, 0.05),
    0px 11px 11px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.09);
}

.benefit-card.client p {
  color: #d0d0d0;
}

.benefit-card h3 {
  text-align: center;
  min-width: 550px;
}

.benefit-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.benefit-card ul li {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .benefits-container {
    flex-direction: column;
    gap: 4rem;
  }

  .benefits-section h2 {
    text-align: center;
  }

  .benefit-card {
    padding: 3rem 4rem;
    max-width: 90%;
  }

  .benefit-card h3 {
    min-width: 100%;
  }

  .benefit-card .lista-vantagens li {
    min-width: 100%;
    margin-left: 0;
  }
}
