.abasteca-bg {
  background-color: var(--cor-blue-5);
  padding-top: 150px;
  padding-bottom: 150px;
}

.abasteca {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abasteca h1 {
  margin-bottom: 43px;
}
.abasteca p {
  text-align: center;
  max-width: 846px;
  margin-bottom: 76px;
}

@media (max-width: 725px) {
  .abasteca-bg {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .abasteca h1{
    text-align: center;
  }
}
